{
    "env": {
        "browser": true,
        "es2017": true
    },
    "extends": [
        "standard"
    ],
    "root": true,
    "globals": {
        "__firefox__": "readonly",
        "SECURITY_TOKEN": "readonly",
        "$FEATURE_SETTINGS$": "readonly",
        "$GPC_ENABLED$": "readonly",
        "$BLOCKING_ENABLED$": "readonly",
        "$TRACKER_DATA$": "readonly",
        "$IS_DEBUG$": "readonly",
        "webkit": "readonly",
        "$DYNAMIC_TYPE_SCALE_PERCENTAGE$": "readonly",
        "$TEXT_SIZE_ADJUSTMENT_IN_PERCENTS$": "readonly"
    },
    "parserOptions": {
        "ecmaVersion": 7
    },
    "rules": {
        "indent": ["error", 4]
    }
}
