[submodule "submodules/ios-js-support"]
	path = submodules/ios-js-support
	url = https://github.com/duckduckgo/ios-js-support.git
[submodule "submodules/privacy-reference-tests"]
	path = submodules/privacy-reference-tests
	url = https://github.com/duckduckgo/privacy-reference-tests
