[submodule "Submodule/Toast-Swift"]
	path = Submodule/Toast-Swift
	url = https://github.com/TheInfiniteKind/Toast-Swift
	branch = feature/swift-3.0
[submodule "Submodule/Kingfisher"]
	path = Submodule/Kingfisher
	url = https://github.com/TheInfiniteKind/Kingfisher
[submodule "Submodule/Device"]
	path = Submodule/Device
	url = https://github.com/TheInfiniteKind/Device.swift
