<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <false/>
	<key>teamID</key>
    <string>HKE973VLUW</string>
    <key>method</key>
    <string>ad-hoc</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.duckduckgo.mobile.ios</key>
        <string>match AdHoc com.duckduckgo.mobile.ios</string>

        <key>com.duckduckgo.mobile.ios.ShareExtension</key>
        <string>match AdHoc com.duckduckgo.mobile.ios.ShareExtension</string>

        <key>com.duckduckgo.mobile.ios.OpenAction2</key>
        <string>match AdHoc com.duckduckgo.mobile.ios.OpenAction2</string>

        <key>com.duckduckgo.mobile.ios.Widgets</key>
        <string>match AdHoc com.duckduckgo.mobile.ios.Widgets</string>

        <key>com.duckduckgo.mobile.ios.NetworkExtension</key>
		<string>match AdHoc com.duckduckgo.mobile.ios.NetworkExtension</string>
    </dict>

</dict>
</plist>
