<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <false/>
	<key>teamID</key>
    <string>HKE973VLUW</string>
    <key>method</key>
    <string>ad-hoc</string>

    <key>provisioningProfiles</key>
    <dict>
        <key>com.duckduckgo.mobile.ios</key>
        <string>Ad Hoc - App</string>

        <key>com.duckduckgo.mobile.ios.ShareExtension</key>
        <string>Ad Hoc - Share</string>

        <key>com.duckduckgo.mobile.ios.BookmarksTodayExtension</key>
        <string>Ad Hoc - Bookmarks</string>

        <key>com.duckduckgo.mobile.ios.QuickActionsTodayExtension</key>
        <string>Ad Hoc - Quick Actions</string>

        <key>com.duckduckgo.mobile.ios.OpenAction2</key>
        <string>Ad Hoc - Open Action</string>

        <key>com.duckduckgo.mobile.ios.Widgets</key>
        <string>Ad Hoc - Widgets</string>
    </dict>

</dict>
</plist>
