# We are using a more recent commit for exception handling. Upgrade
# to next release after 3.1.4, when available

github "duckduckgo/Kingfisher" ~> 3.10.3

github "duckduckgo/Device.swift" ~> 1.1.2

github "duckduckgo/Toast-Swift" ~> 2.0.0

github "duckduckgo/Alamofire" ~>  4.4.0

github "duckduckgo/OHHTTPStubs" ~> 6.0.0

github "duckduckgo/SimulatorStatusMagic" "tags/1.9.5"

github "duckduckgo/swifter" == 1.4.0

github "airbnb/lottie-ios" "tags/2.5.0"

