# If this is updated then check remove observers in Favicons.swift doesn't break anything
github "duckduckgo/Kingfisher" ~> 5.14.1

github "duckduckgo/Device.swift" ~> 1.1.2

github "duckduckgo/Toast-Swift" ~> 4.0.0

github "duckduckgo/Alamofire" ~>  4.8.1

github "duckduckgo/OHHTTPStubs" ~> 7.0.0

github "duckduckgo/CommonCrypto" ~> 1.1.0

github "duckduckgo/swifter" "stable"

github "duckduckgo/lottie-ios" "tags/2.5.0"

github "duckduckgo/PunycodeSwift" "master"

