# We are using a more recent commit for exception handling. Upgrade
# to next release after 3.1.4, when available

github "duckduckgo/Kingfisher" ~> 5.14.1

github "duckduckgo/Device.swift" ~> 1.1.2

github "duckduckgo/Toast-Swift" ~> 4.0.0

github "duckduckgo/Alamofire" ~>  4.8.1

github "duckduckgo/OHHTTPStubs" ~> 7.0.0

github "duckduckgo/CommonCrypto" ~> 1.1.0

github "duckduckgo/swifter" == 1.4.3

github "duckduckgo/lottie-ios" "tags/2.5.0"

github "duckduckgo/PunycodeSwift" "master"

