<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DuckDuckGo.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>ED3976FF8CB76B09E4A073CCFF64EC999E73B78A</string>
				<key>dateExpires</key>
				<string>12/04/2022</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED3976FF8CB76B09E4A073CCFF64EC999E73B78A</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Core.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HKE973VLUW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED3976FF8CB76B09E4A073CCFF64EC999E73B78A</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HKE973VLUW.com.duckduckgo.mobile.ios.OpenAction2</string>
						<key>com.apple.developer.team-identifier</key>
						<string>HKE973VLUW</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>HKE973VLUW.com.duckduckgo.mobile.ios.OpenAction2</string>
						</array>
					</dict>
					<key>name</key>
					<string>OpenAction.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>0311b376-f36f-483e-acd2-ea489fb323e6</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>name</key>
						<string>Ad Hoc - Open Action</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HKE973VLUW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.65.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED3976FF8CB76B09E4A073CCFF64EC999E73B78A</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HKE973VLUW.com.duckduckgo.mobile.ios.ShareExtension</string>
						<key>com.apple.developer.team-identifier</key>
						<string>HKE973VLUW</string>
						<key>get-task-allow</key>
						<false/>
						<key>keychain-access-groups</key>
						<array>
							<string>HKE973VLUW.com.duckduckgo.mobile.ios.ShareExtension</string>
						</array>
					</dict>
					<key>name</key>
					<string>ShareExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>b855831b-1399-4cc5-9728-c09780f52bb6</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>name</key>
						<string>Ad Hoc - Share</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HKE973VLUW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.65.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>ED3976FF8CB76B09E4A073CCFF64EC999E73B78A</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>HKE973VLUW.com.duckduckgo.mobile.ios.Widgets</string>
						<key>com.apple.developer.team-identifier</key>
						<string>HKE973VLUW</string>
						<key>com.apple.security.application-groups</key>
						<array>
							<string>group.com.duckduckgo.bookmarks</string>
						</array>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>WidgetsExtension.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>099134c7-1667-406c-b952-60bf52d70faf</string>
						<key>dateExpires</key>
						<string>12/04/2022</string>
						<key>name</key>
						<string>Ad Hoc - Widgets</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>HKE973VLUW</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.65.9</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>HKE973VLUW.com.duckduckgo.mobile.ios</string>
				<key>com.apple.developer.team-identifier</key>
				<string>HKE973VLUW</string>
				<key>com.apple.developer.web-browser</key>
				<true/>
				<key>com.apple.security.application-groups</key>
				<array>
					<string>group.com.duckduckgo.bookmarks</string>
					<string>group.com.duckduckgo.contentblocker</string>
					<string>group.com.duckduckgo.statistics</string>
					<string>group.com.duckduckgo.database</string>
				</array>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>DuckDuckGo.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>bbcbb787-ad2a-4ea5-b3f9-c265aa1cc258</string>
				<key>dateExpires</key>
				<string>12/04/2022</string>
				<key>name</key>
				<string>Ad Hoc - App</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>HKE973VLUW</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>7.65.9</string>
		</dict>
	</array>
</dict>
</plist>
