.wrapper *, .wrapper *::before, .wrapper *::after {
    box-sizing: border-box;
}
.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    transform: translateY(-50%);
    font-family: 'DDG_ProximaNova', 'Proxima Nova', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    z-index: 2147483647;
}
.trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent;
    cursor: pointer;
}
.trigger > img {
    width: 24px;
    height: 24px;
}
.tooltip {
    position: absolute;
    bottom: calc(100% + 15px);
    right: calc(100% - 60px);
    width: 350px;
    max-width: calc(100vw - 25px);
    padding: 25px;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    background-color: #FFFFFF;
    font-size: 14px;
    line-height: 1.4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 2147483647;
}
.tooltip::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    border-top: 12px solid #D0D0D0;
    position: absolute;
    right: 34px;
    bottom: -12px;
}
.tooltip::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    border-top: 12px solid #FFFFFF;
    position: absolute;
    right: 34px;
    bottom: -10px;
}
.tooltip strong {
    margin: 0 0 4px;
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.3;
}
.tooltip p {
    margin: 4px 0 12px;
    color: #666666;
}
.tooltip__button-container {
    display: flex;
}
.tooltip__button {
    flex: 1;
    height: 40px;
    padding: 0 10px;
    background-color: #332FF3;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}
.tooltip__button:last-child {
    margin-left: 12px;
}
.tooltip__button--secondary {
    background-color: #EEEEEE;
    color: #332FF3;
}
