<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.duckduckgo.app.vpnWaitlistStatus</string>
		<string>com.duckduckgo.app.windowsBrowserWaitlistStatus</string>
		<string>com.duckduckgo.app.configurationRefresh</string>
		<string>com.duckduckgo.app.remoteMessageRefresh</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack29x29</string>
					<string>AppIconBlack40x40</string>
					<string>AppIconBlack60x60</string>
				</array>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlue29x29</string>
					<string>AppIconBlue40x40</string>
					<string>AppIconBlue60x60</string>
				</array>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreen29x29</string>
					<string>AppIconGreen40x40</string>
					<string>AppIconGreen60x60</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPurple29x29</string>
					<string>AppIconPurple40x40</string>
					<string>AppIconPurple60x60</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconYellow29x29</string>
					<string>AppIconYellow40x40</string>
					<string>AppIconYellow60x60</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlack76x76</string>
					<string>AppIconBlack83.5x83.5</string>
				</array>
			</dict>
			<key>blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconBlue76x76</string>
					<string>AppIconBlue83.5x83.5</string>
				</array>
			</dict>
			<key>green</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconGreen76x76</string>
					<string>AppIconGreen83.5x83.5</string>
				</array>
			</dict>
			<key>purple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconPurple76x76</string>
					<string>AppIconPurple83.5x83.5</string>
				</array>
			</dict>
			<key>yellow</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>AppIconYellow76x76</string>
					<string>AppIconYellow83.5x83.5</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ddgNewSearch</string>
				<string>ddgVoiceSearch</string>
				<string>ddgFireButton</string>
				<string>ddgFavorites</string>
				<string>ddgQuickLink</string>
				<string>ddgAddFavorite</string>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DuckDuckGoGroupIdentifierPrefix</key>
	<string>$(GROUP_ID_PREFIX)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allows you to upload photographs and videos</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Allows you to unlock using Face ID</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allows you to share your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This is required to use voice features. DuckDuckGo never records what you say.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allows you to save images to your device</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>This is required to use voice search. DuckDuckGo never records what you say.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Clipboard</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Paste from Clipboard</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.duckduckgo.mobile.ios.clipboard</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
