<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/DuckDuckGo.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.duckduckgo.mobile.ios</string>
		<key>CFBundleShortVersionString</key>
		<string>7.65.9</string>
		<key>CFBundleVersion</key>
		<string>0</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Jacek Łyp (29ZR64ZM93)</string>
		<key>Team</key>
		<string>HKE973VLUW</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2022-02-11T19:28:31Z</date>
	<key>Name</key>
	<string>DuckDuckGo</string>
	<key>SchemeName</key>
	<string>DuckDuckGo</string>
</dict>
</plist>
