name: Danger JS
on: pull_request

jobs:
  build:
    name: Danger JS
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Danger
        uses: danger/danger-js@11.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

