name: End-to-End tests

on:
  schedule:
    - cron: '0 4 * * *' # run at 4 AM UTC
  workflow_dispatch:
  push: 

jobs:
  end-to-end-tests:
    name: End to end Tests
    runs-on: macos-12

    steps:
    - name: Check out the code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_$(<.xcode-version).app/Contents/Developer

    - name: Build for tests
      run: |
        set -o pipefail && xcodebuild \
          -scheme "DuckDuckGo" \
          -destination "platform=iOS Simulator,name=iPhone 12" \
          -derivedDataPath ~/DerivedData

    - name: Setup tests
      run: bundle install && bundle exec fastlane setup_e2e_tests

    - name: Release tests
      uses: mobile-dev-inc/action-maestro-cloud@v1.2.3
      with:
        api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
        app-file: /Users/runner/DerivedData/Build/Products/Debug-iphonesimulator/DuckDuckGo.app
        workspace: .maestro/release_tests

    - name: Privacy tests
      uses: mobile-dev-inc/action-maestro-cloud@v1.2.3
      with:
        api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
        app-file: /Users/runner/DerivedData/Build/Products/Debug-iphonesimulator/DuckDuckGo.app
        workspace: .maestro/privacy_tests
    
    - name: Ad Click Detection Flow tests
      uses: mobile-dev-inc/action-maestro-cloud@v1.2.3
      with:
        api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
        app-file: /Users/runner/DerivedData/Build/Products/Debug-iphonesimulator/DuckDuckGo.app
        workspace: .maestro/privacy_tests
  