name: iOS - Make ad-hoc build

on:
  workflow_dispatch:
    inputs:
      suffix:
        description: "Text to append at the end of the build name"
        required: false
      asana-task-url:
        description: "Asana task URL"
        required: false
        type: string
      build-type:
        description: "Build Configuration"
        type: choice
        required: true
        default: 'Alpha'
        options:
           - Alpha
           - Release

jobs:
  make-adhoc:
    runs-on: macos-15-xlarge
    name: Make ad-hoc build

    steps:

      - name: Register SSH keys for access to certificates
        uses: webfactory/ssh-agent@v0.7.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY_FASTLANE_MATCH }}

      - name: Check out the code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Select Xcode
        run: sudo xcode-select -s /Applications/Xcode_$(<.xcode-version).app/Contents/Developer

      - name: Prepare fastlane
        run: bundle install

      - name: Archive and upload the app
        env:
          APPLE_API_KEY_BASE64: ${{ secrets.APPLE_API_KEY_BASE64 }}
          APPLE_API_KEY_ID: ${{ secrets.APPLE_API_KEY_ID }}
          APPLE_API_KEY_ISSUER: ${{ secrets.APPLE_API_KEY_ISSUER }}
          MATCH_PASSWORD: ${{ secrets.MATCH_PASSWORD }}
        run: |
          lane_to_use="adhoc"
          if [[ "${{ github.event.inputs.build-type }}" == "Release" ]]; then
            lane_to_use="release_adhoc"
          fi

          if [[ -n "${{ github.event.inputs.suffix }}" ]]; then
            bundle exec fastlane ${lane_to_use} suffix:${{ github.event.inputs.suffix }}
          else
            bundle exec fastlane ${lane_to_use}
          fi

      - name: Set filenames
        run: |
          echo "ipa_filename=${{ env.output_name }}.ipa" >> $GITHUB_ENV
          echo "dsyms_filename=${{ env.output_name }}.app.dSYM.zip" >> $GITHUB_ENV

      - name: Set paths
        run: |
          echo "ipa_path=${{ github.workspace }}/${{ env.ipa_filename }}" >> $GITHUB_ENV
          echo "dsyms_path=${{ github.workspace }}/${{ env.dsyms_filename }}" >> $GITHUB_ENV

      - name: Upload IPA artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.ipa_filename }}
          path: ${{ env.ipa_path }}

      - name: Upload dSYMs artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ env.dsyms_filename }}
          path: ${{ env.dsyms_path }}

      - name: Get Asana Task ID
        if: inputs.asana-task-url
        id: get-task-id
        env:
          ASANA_TASK_URL: ${{ inputs.asana-task-url }}
        run: |
          task_id=$(echo "$ASANA_TASK_URL" \
            | sed -E 's|.*https://(.*)|\1|' \
            | cut -d '/' -f 4)
          echo "task_id=${task_id//[^0-9]/}" >> $GITHUB_OUTPUT

      - name: Upload IPA to Asana
        if: inputs.asana-task-url
        env:
          ASANA_ACCESS_TOKEN: ${{ secrets.ASANA_ACCESS_TOKEN }}
        run: |
          curl -s "https://app.asana.com/api/1.0/tasks/${{ steps.get-task-id.outputs.task_id }}/attachments" \
            -H "Authorization: Bearer ${{ secrets.ASANA_ACCESS_TOKEN }}" \
            --form "file=@${{ env.ipa_path }};type=application/zip"
