name: Nightly Integration Tests

on:
  schedule:
    - cron: '0 2 * * *' # Run at 2 AM UTC

jobs:
  atb-ui-tests:
    name: ATB UI Tests
    runs-on: macos-13
    timeout-minutes: 30

    steps:
    - name: Check out the code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install xcbeautify
      run: brew install xcbeautify

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_$(<.xcode-version).app/Contents/Developer

    - name: Build and test
      run: |
        set -o pipefail && xcodebuild test \
          -scheme "AtbUITests" \
          -destination "platform=iOS Simulator,name=iPhone 12" \
          | xcbeautify --report junit --report-path . --junit-report-filename unittests.xml

    - name: Publish unit tests report
      uses: mikepenz/action-junit-report@v3
      with:
        report_paths: unittests.xml

  fingerprinting-ui-tests:
    name: Fingerprinting UI Tests
    runs-on: macos-13
    timeout-minutes: 30

    steps:
    - name: Check out the code
      uses: actions/checkout@v3
      with:
        submodules: recursive

    - name: Install xcbeautify
      run: brew install xcbeautify

    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_$(<.xcode-version).app/Contents/Developer

    - name: Build and test
      run: |
        set -o pipefail && xcodebuild test \
          -scheme "FingerprintingUITests" \
          -destination "platform=iOS Simulator,name=iPhone 12" \
          | xcbeautify --report junit --report-path . --junit-report-filename unittests.xml

    - name: Publish unit tests report
      uses: mikepenz/action-junit-report@v3
      with:
        report_paths: unittests.xml

